# -------------------------------File--CLASSIFICATION----------------------------------

## Imports

In [1]:
import pandas as pd
import numpy as np
import csv
from ipykernel import kernelapp as app
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
loan_df = pd.read_csv('/Users/madhu/Desktop/ADS Project/Part-1/Loan.csv', low_memory=False) 
#del loan_df['Unnamed: 0']
decline_df= pd.read_csv(open('/Users/madhu/Desktop/ADS Project/Part-1/Decline.csv','rU'), encoding='utf-8')
del decline_df['Unnamed: 0']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: 'U' mode is deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [4]:
loan_df=loan_df[['id','loan_amnt', 'purpose', 'fico', 'dti','zip_code', 'State', 'emp_length', 'Year', 'Month', 'approval']]
decline_df =decline_df[['id','loan_amnt','purpose', 'fico', 'dti','zip_code', 'State', 'emp_length', 'Year', 'Month','approval']]

In [5]:
loan_df.head()

,id,loan_amnt,purpose,fico,dti,zip_code,State,emp_length,Year,Month,approval
0,1,5000.0,credit_card,737.0,27.65,860,AZ,10,2011,12,1
1,2,2500.0,car,742.0,1.00,309,GA,1,2011,12,1
2,3,2400.0,small_business,737.0,8.72,606,IL,10,2011,12,1
3,4,10000.0,other,692.0,20.00,917,CA,10,2011,12,1
4,5,3000.0,other,697.0,17.94,972,OR,1,2011,12,1

In [6]:
decline_df.head()

,id,loan_amnt,purpose,fico,dti,zip_code,State,emp_length,Year,Month,approval
0,1,1000.0,Wedding Covered but No Honeymoon,693.0,10.00,481,NM,4,2007,5,0
1,2,1000.0,Consolidating Debt,703.0,10.00,10,MA,0,2007,5,0
2,3,11000.0,Want to consolidate my debt,715.0,10.00,212,MD,1,2007,5,0
3,4,6000.0,waksman,698.0,38.64,17,MA,0,2007,5,0
4,5,1500.0,mdrigo,509.0,9.43,209,MD,0,2007,5,0

In [7]:
# Merging the two dataframes
df = pd.concat([loan_df,decline_df])

In [8]:
df.to_csv('/Users/madhu/Desktop/ADS Project/Part-1/Combine_Clean_Data.csv')

The text in the document by SHREYANTH REDDY BEZAWADA is licensed under CC BY 3.0 https://creativecommons.org/licenses/by/3.0/us/

Copyright 2018 SHREYANTH REDDY BEZAWADA AND ADITYA MOHAN KUMAR

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.