# Manual Clustering

In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
color = sns.color_palette()

In [2]:
loan_df = pd.read_csv('/Users/madhu/Desktop/ADS Project/Part-1/Loan.csv', low_memory=False)

In [3]:
loan_df.head()

,id,debt_settlement_flag,application_type,fico_range_low,fico_range_high,emp_length,dti,annual_inc,grade,sub_grade,...,purpose,State,home_ownership,zip_code,policy_code,term,Year,Month,fico,approval
0,1,N,Individual,735.0,739.0,10,27.65,24000.0,B,B2,...,credit_card,AZ,RENT,860,1,36,2011,12,737.0,1
1,2,N,Individual,740.0,744.0,1,1.00,30000.0,C,C4,...,car,GA,RENT,309,1,60,2011,12,742.0,1
2,3,N,Individual,735.0,739.0,10,8.72,12252.0,C,C5,...,small_business,IL,RENT,606,1,36,2011,12,737.0,1
3,4,N,Individual,690.0,694.0,10,20.00,49200.0,C,C1,...,other,CA,RENT,917,1,36,2011,12,692.0,1
4,5,N,Individual,695.0,699.0,1,17.94,80000.0,B,B5,...,other,OR,RENT,972,1,60,2011,12,697.0,1

In [4]:
loan_df=loan_df[['loan_amnt', 'purpose', 'fico', 'dti', 'zip_code','State', 'emp_length', 'id', 'Year', 'Month','approval']]

In [5]:
loan_df.columns

Index(['loan_amnt', 'purpose', 'fico', 'dti', 'zip_code', 'State',
       'emp_length', 'id', 'Year', 'Month', 'approval'],
      dtype='object')

In [6]:
decline_df = pd.read_csv('/Users/madhu/Desktop/ADS Project/Part-1/Decline.csv', low_memory=False)

In [7]:
decline_df.head()

,Unnamed: 0,loan_amnt,application_date,purpose,fico,dti,zip_code,State,emp_length,Policy Code,id,Year,Month,Day,approval
0,0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10.00,481,NM,4,0.0,1,2007,5,26,0
1,1,1000.0,2007-05-26,Consolidating Debt,703.0,10.00,10,MA,0,0.0,2,2007,5,26,0
2,2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10.00,212,MD,1,0.0,3,2007,5,27,0
3,3,6000.0,2007-05-27,waksman,698.0,38.64,17,MA,0,0.0,4,2007,5,27,0
4,4,1500.0,2007-05-27,mdrigo,509.0,9.43,209,MD,0,0.0,5,2007,5,27,0

In [8]:
decline_df.columns

Index(['Unnamed: 0', 'loan_amnt', 'application_date', 'purpose', 'fico', 'dti',
       'zip_code', 'State', 'emp_length', 'Policy Code', 'id', 'Year', 'Month',
       'Day', 'approval'],
      dtype='object')

In [9]:
decline_df=decline_df[['loan_amnt', 'purpose', 'fico', 'dti', 'zip_code','State', 'emp_length', 'id', 'Year', 'Month','approval']]

In [10]:
c = pd.concat([loan_df,decline_df])

In [11]:
c.shape

(8448577, 11)

In [12]:
c.to_csv('/Users/madhu/Desktop/ADS Project/Part-1/Combine.csv',index=False)

In [13]:
df = loan_df

In [4]:
df.shape

(1640753, 23)

In [5]:
df = df[df['dti']!=-1]
df['term'] = df['term'].astype(str).map(lambda x: x.rstrip('months'))
df['term'] = df['term'].astype(int)
df['policy_code'] = df['policy_code'].astype(int)

In [7]:
df = df[['id','term','emp_length','dti','annual_inc','grade','sub_grade','int_rate','loan_amnt','purpose','State','zip_code','Year','Month','fico','approval']]

In [8]:
df.head()

,id,term,emp_length,dti,annual_inc,grade,sub_grade,int_rate,loan_amnt,purpose,State,zip_code,Year,Month,fico,approval
0,1,36,10,27.65,24000.0,B,B2,10.65,5000.0,credit_card,AZ,860,2011,12,737.0,1
1,2,60,1,1.00,30000.0,C,C4,15.27,2500.0,car,GA,309,2011,12,742.0,1
2,3,36,10,8.72,12252.0,C,C5,15.96,2400.0,small_business,IL,606,2011,12,737.0,1
3,4,36,10,20.00,49200.0,C,C1,13.49,10000.0,other,CA,917,2011,12,692.0,1
4,5,60,1,17.94,80000.0,B,B5,12.69,3000.0,other,OR,972,2011,12,697.0,1

In [15]:
def clustering(fico):
    cluster_name = ''
    if fico>790.0:
        cluster_name ='K1'
    elif ((fico <= 790.0) & (fico>750.0)):
        cluster_name = 'K2'
    elif ((fico <=750.0) & (fico>700.0)):
        cluster_name ='K3'
    elif ((fico <=700.0) & (fico>660.0)):
        cluster_name= 'K4'
    return cluster_name

In [16]:
df['cluster'] = df['fico'].astype(float).map(lambda x: clustering(x))

In [17]:
k1 = df[df.cluster=='K1']
del k1['cluster']
k1.to_csv('/Users/madhu/Desktop/ADS Project/Part-2/Clustering/Manual_1.csv',index=False)

In [18]:
k2 = df[df.cluster=='K2']
del k2['cluster']
k2.to_csv('/Users/madhu/Desktop/ADS Project/Part-2/Clustering/Manual_2.csv',index=False)

In [19]:
k3 = df[df.cluster=='K3']
del k3['cluster']
k3.to_csv('/Users/madhu/Desktop/ADS Project/Part-2/Clustering/Manual_3.csv',index=False)

In [20]:
k4 = df[df.cluster=='K4']
del k4['cluster']
k4.to_csv('/Users/madhu/Desktop/ADS Project/Part-2/Clustering/Manual_4.csv',index=False)

In [21]:
loan_df.to_csv('/Users/madhu/Desktop/ADS Project/Part-2/Clustering/Zero_Cluster.csv',index=False)

The text in the document by SHREYANTH REDDY BEZAWADA is licensed under CC BY 3.0 https://creativecommons.org/licenses/by/3.0/us/

Copyright 2018 SHREYANTH REDDY BEZAWADA AND ADITYA MOHAN KUMAR

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.